
@model UserIndexViewModel
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of all users</title>
    <link rel="stylesheet" href="/css/news.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/list-css/list.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/list-css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/list-css/basictable.css" />
</head>
<body>
    <div class="faq">
        <h4 class="latest-text w3_faq_latest_text w3_latest_text">Users List</h4>
        <div class="container">
            <div class="agileits-news-top">
                <ol class="breadcrumb">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                </ol>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    @for (char i = 'A'; i <= 'Z'; i++)
                    {
                        int id = (int)i;
                        <li role="presentation"><a asp-controller="Users" asp-action="UsersByName" asp-route-id="@id" role="tab" id="b-tab" data-toggle="tab" aria-controls="b">@i</a></li>
                    }
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <div class="agile-news-table">
                            <div class="w3ls-news-result">
                                <h4>Search Results : <span>@Model.AllUsers.Count()</span></h4>
                            </div>
                            <table id="table-breakpoint">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Picture</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="table-breakpoint">
                                    @{ 
                                        int counter = 0;
                                    }
                                    
                                    @foreach (var user in Model.AllUsers)

                                    {
                                        <tr>
                                                <td>@counter</td>
                                                @{
                                                    counter++;
                                                    }
                                            @{
                                                if (user.Avatar == null)
                                                {
                                                    <td class="w3-list-img"><a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id"><img src="~/images/noimage.jpg" alt="" /> <span></span></a></td>
                                                }
                                                else
                                                {
                                                    <td class="w3-list-img"><a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id"><img src="@user.Avatar" alt="" /> <span></span></a></td>
                                                }
                                            }
                                            <td><a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">@user.UserName</a></td>
                                            <td><a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">@user.Email</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


