@model IEnumerable<ActorViewModel>

<table id="table" class="table table-striped border border-info">
    <thead>
        <tr>
            <th scope="col" width="5%">№</th>
            <th scope="col" width="30%">Picture</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col">Add To Movie</th>
            }

        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var actor in Model)
        {
            <tr>
                <td>@counter</td>
                @{
                    counter++;
                }
                <td class="w3-list-img"><a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id"><img src="~/images/@(actor.Picture ?? "noimage.jpg")" /><span></span></a></td>
                <td><a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">@actor.FirstName</a></td>
                <td><a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">@actor.LastName</a></td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-area="Admin" asp-action="Movies" asp-controller="AddActor" asp-route-id="@actor.Id" class="btn btn-success"><i class="material-icons">Add Actor</i></a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>