@model TopRatedMoviesViewModel
@using MoviesCatalog.Services
@inject MovieService movieService
@using MoviesCatalog.Web.Mappers
@inject MovieService movieService
@inject MovieViewModelMapper movieMapper

@{ 
    var topRatedMovies = this.movieService.ShowMoviesTop10ByRaiting();
    Model.TopRatedMovies = topRatedMovies.Select(this.movieMapper.MapFrom).ToList();
}

<div class="col-md-4 single-right">
    <h3>Top Rated Movies</h3>
    <div class="single-grid-right">
        @foreach (var movie in Model.TopRatedMovies)
        {
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    @{ if (movie.Poster == null)
                        {
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="~/images/noimage.jpg" alt="" /></a>
                        }
                        else
                        {
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="@movie.Poster" alt="" /></a>
                        }
                    }
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a>
                    <p class="author">"Release date" : @movie.ReleaseDate.ToString("MMMM dd, yyyy")</p>
                    <p class="views">@movie.NumberOfVotes reviews</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    </div>
</div>

