@model MovieViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Title details</title>
    <link rel="stylesheet" href="/css/news.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/list-css/list.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/list-css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/list-css/basictable.css" />
</head>
<body>
    <div class="single-page-agile-main">
        <div class="container">
            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="song">
                            <h3 class="song-info">
                                <h3>MovieCatalogID: @Model.Id</h3>
                                <h3>Title: @Model.Title</h3>
                                <h3>Release Date: @Model.ReleaseDate.ToString("MMMM dd, yyyy")</h3>

                                <h3>Trailer: @Model.Trailer</h3>
                                <div><strong>Description: </strong> @Model.Description</div>
                        </div>

                        @if (Model.Poster == null)
                        {
                            <td class="w3-list-img"><a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id"><img src="~/images/noimage.jpg" alt="" /> <span></span></a></td>
                        }
                        else
                        {
                            <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">@Model.Poster</a></td>
                        }
                        <h4>Rating</h4>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div><br />
                    <div class="clearfix"> </div>
                    <div class="all-comments">
                        <div class="all-comments-info">
                            <div class="agile-info-wthree-box">
                                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <input type="submit" asp-controller="Reviews" asp-action="Add" asp-route-id="@Model.Id" value="Add Review">
                                    }
                                    <div class="clearfix"> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>






@*@model MovieViewModel

    @{
        ViewData["Title"] = "Details";
    }

    <h1>@Model.Title</h1>

    <h1>@Model.ReleaseDate.ToShortDateString()</h1>

    <div><strong>Id: </strong> @Model.Id</div>
    <div><strong>Trailer: </strong> @Model.Trailer</div>
    <div><strong>Poster: </strong> @Model.Poster</div>
    <div><strong>Description: </strong> @Model.Description</div>*@