@model MovieViewModel

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="single-page-agile-main">
        <div class="container">
            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="song">
                            <div class="song-info">
                                <h3>@Model.Title</h3>
                            </div>
                            <div class="w3-list-img"><a asp-controller="Movies" asp-action="Details"><img style="border: 5px solid #ff9800" src="~/images/@(Model.Poster ?? "noimage.jpg")" /> <span></span></a></div>
                        </div>
                        <div></div>
                        <h3 class="padding-custom">Rating: <span class="rating-orange">@Model.ToString()</span><span class="text-custom"> / 5</span></h3>
                        <h4 class="padding-custom">Votes: <span class="text-orange">@Model.NumberOfVotes</span></h4>
                        <h4 class="padding-custom">Release Date : <span class="text-orange">@Model.ReleaseDate.ToString("MMMM dd, yyyy")</span></h4>

                        <div class="song-grid-right">
                        </div>
                        <div class="clearfix"> </div>
                        <div class="all-comments">
                            @if (Model.Description != null)
                            {
                                <div>@Model.Description</div><br />
                            }
                            else
                            {
                                <div>No description for this movie added yet.</div>
                            }
                        </div>
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
                            <div class="agile-info-wthree-box">
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <input type="submit" asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.Id" value="Add review">
                                }
                            </div>
                        </form>
                        <div class="agile-info-wthree-box">
                            <form asp-area="Admin" asp-controller="Movies" asp-action="Update" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <input type="submit" asp-controller="Movies" asp-action="Update" asp-route-id="@Model.Id" value="Update">
                                }
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>
                </div>
                @if (Model.LastFiveReviewsByMovie != null)
                {
                    <div class="col-md-4 single-right">
                        <h3>Last five reviews for @Model.Title</h3>
                        <div class="single-grid-right">
                            @foreach (var review in Model.LastFiveReviewsByMovie)
                            {
                                <div class="single-right-grids">
                                    <div class="col-md-4 single-right-grid-left">
                                        <a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id"><img src="~/images/@(review.MoviePoster?? "noimage.jpg")" /></a>
                                    </div>
                                    <div class="col-md-8 single-right-grid-right">
                                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@review.MovieId">@review.MovieTitle</a>
                                        <p class="author">"Created on" : @review.CreatedOn.ToString("MMMM dd, yyyy")</p>
                                        <p class="views">@review.Description</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        @if(Model.AllReviewsByMovie != null)
                        {
                            <div class="w3ls-news-result">
                                <h4>All reviews for @Model.Title: <span>@Model.AllReviewsByMovie.Count()</span></h4>
                            </div>
                            <table id="table-breakpoint">
                                <tr>
                                    <th>№</th>
                                    <th>User</th>
                                    <th>Created on</th>
                                    <th>Description</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tbody id="table-breakpoint">
                                    @{
                                        int counter = 1;
                                    }
                                    @foreach (var review in Model.AllReviewsByMovie)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            @{
                                                counter++;
                                            }
                                            <td class="w3-list-img"><a asp-controller="Movies" asp-action="Details" asp-route-id="@review.MovieId"><img src="~/images/@(review.MoviePoster ?? "noimage.jpg")" />><span></span></a></td>
                                            <td><a asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id">@review.MovieTitle</a></td>
                                            <td>@review.UserName</td>
                                            <td>@review.CreatedOn.ToString("MMMM dd, yyyy")</td>
                                            <td>@review.Description</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

















