@model MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<h1>@Model.ReleaseDate.ToShortDateString()</h1>

<div><strong>Id: </strong> @Model.Id</div>
<div><strong>Trailer: </strong> @Model.Trailer</div>
<div><strong>Poster: </strong> @Model.Poster</div>
<div><strong>Description: </strong> @Model.Description</div>