@model MovieIndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of all actors</title>
    <link rel="stylesheet" href="/css/news.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/list-css/list.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/list-css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/list-css/basictable.css" />
</head>
<body>
    <div class="faq">
        <h4 class="latest-text w3_faq_latest_text w3_latest_text">Movie List</h4>
        <div class="container">
            <div class="agileits-news-top">
                <ol class="breadcrumb">
                    <li class="nav-item"><a asp-controller="Movies" asp-action="Create">Create new movie</a></li>
                </ol>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    @for (char i = 'A'; i <= 'Z'; i++)
                    {
                        <li role="presentation"><a asp-controller="Movies" asp-action="MoviesByName" asp-route-id="@i" role="tab" id="b-tab" data-toggle="tab" aria-controls="b">@i</a></li>
                    }
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <div class="agile-news-table">
                            <div class="w3ls-news-result">
                                @if (Model.MoviesByName.Count != 0)
                                {
                                    //TODO color in css class
                                    <h4>Count of movies starting with first letter <span style="color:#ff9800">@ViewContext.RouteData.Values["id"].ToString().ToUpper()</span>: <span>@Model.MoviesByName.Count()</span></h4>
                                    <table id="table-breakpoint">
                                        <thead>
                                            <tr>
                                                <th>№</th>
                                                <th>Poster</th>
                                                <th>Title</th>
                                                <th>Average Rating</th>
                                                <th>Release Date</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-breakpoint">
                                            @{
                                                int counter = 1;
                                            }
                                            @foreach (var movie in Model.MoviesByName.OrderByDescending(ar => ar.AverageRating))
                                            {
                                                <tr>
                                                    <td>@counter</td>
                                                    @{
                                                        counter++;
                                                    }

                                                    @if (movie.Poster == null)
                                                    {
                                                        <td class="w3-list-img"><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="~/images/noimage.jpg" alt="" /> <span></span></a></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Poster</a></td>
                                                    }
                                                    <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></td>
                                                    <td>@movie.AverageRating</td>
                                                    <td>@movie.ReleaseDate.ToString("MMMM dd, yyyy")</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <h4>There are no movies in the catalog starting with first letter <span style="color:#ff9800"> @ViewContext.RouteData.Values["id"].ToString().ToUpper().</span></h4>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>