@model SearchMovieViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of all actors</title>
    <link rel="stylesheet" href="/css/news.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/list-css/list.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/list-css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="/list-css/basictable.css" />
</head>
<body>
    <div class="faq">
        @if (Model.SearchResults.Count() != 0)
        {
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <div class="w3ls-news-result">
                            <h4>Search Results : <span>@Model.SearchResults.Count()</span></h4>
                        </div>

                        <table id="table-breakpoint">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Poster</th>
                                    <th>Title</th>
                                    <th>Average Rating</th>
                                    <th>Release Date</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="table-breakpoint">
                                @foreach (var movie in Model.SearchResults.OrderByDescending(ar => ar.AverageRating))
                                {
                                    <tr>
                                        <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Id</a></td>
                                        @if (movie.Poster == null)
                                        {
                                            <td class="w3-list-img"><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="~/images/noimage.jpg" alt="" /> <span></span></a></td>
                                        }
                                        else
                                        {
                                            <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Poster</a></td>
                                        }
                                        <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></td>
                                        <td>@movie.AverageRating</td>
                                        <td>@movie.ReleaseDate.ToString("MMMM dd, yyyy")</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*</div>
                </div>*@
        }
        else
        {
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <div class="w3ls-news-result">
                            <h4>Search Results : <span>@Model.SearchResults.Count() results from your search.</span></h4>
                        </div>                       
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <partial name="_ValidationScriptsPartial" />
}

