@model ActorViewModel

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="single-page-agile-main">
        <div class="container">
            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="song">
                            <div class="song-info">
                                <h3>@Model.FirstName @Model.LastName</h3>
                            </div>
                            <div class="w3-list-img"><a asp-controller="Actors" asp-action="Details"><img style="border: 5px solid #ff9800" src="~/images/@(Model.Picture ?? "noimage.jpg")" /> <span></span></a></div>
                        </div>
                        <div class="song-grid-right">
                        </div>
                        <div class="clearfix"> </div>
                        <div class="all-comments">
                            <div class="all-comments-info">
                                <a href="#"></a>
                                <div>@Model.Biography</div><br />
                                <div class="agile-info-wthree-box">
                                </div>
                            </div>
                            <div class="media">
                            </div>
                            <div class="media">
                            </div>
                            <div class="agile-info-wthree-box">
                                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <input type="submit" asp-action="Update" asp-route-id="@Model.Id" value="Update">
                                    }
                                    <div class="clearfix"> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-right">
                    <h3>Movies with @Model.FirstName  @Model.LastName</h3>
                    <div class="single-grid-right">

                        @foreach (var movie in Model.MoviesByActor)
                        {
                            <div class="single-right-grids">
                                <div class="col-md-4 single-right-grid-left">
                                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="~/images/@(movie.Poster ?? "noimage.jpg")" /></a>
                                </div>
                                <div class="col-md-8 single-right-grid-right">
                                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a>
                                    <p class="author">"Release date" : @movie.ReleaseDate.ToString("MMMM dd, yyyy")</p>
                                    <p class="views">@movie.NumberOfVotes reviews</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



